USE [master]
GO
/****** Object:  Database [QLNS]    Script Date: 3/27/2024 10:41:26 AM ******/
CREATE DATABASE [QLNS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONGPHUOCSQLSERVER\MSSQL\DATA\QLNS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HONGPHUOCSQLSERVER\MSSQL\DATA\QLNS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNS]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [char](7) NOT NULL,
	[MASACH] [char](7) NULL,
	[SOLUONG] [int] NULL,
	[GIATIEN] [int] NULL,
	[THANHTIEN] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [char](7) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MASACH] [char](7) NOT NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LINHVUC]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINHVUC](
	[TENLINHVUC] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENLINHVUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISACH]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISACH](
	[TENLOAISACH] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENLOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[TENNHAXUATBAN] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENNHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](7) NOT NULL,
	[TENSACH] [nvarchar](100) NULL,
	[MATG] [char](7) NOT NULL,
	[TENLINHVUC] [nvarchar](30) NULL,
	[TENLOAISACH] [nvarchar](30) NULL,
	[GIAMUA] [int] NULL,
	[GIABIA] [int] NULL,
	[LANTAIBAN] [int] NULL,
	[TENNHAXUATBAN] [nvarchar](50) NULL,
	[NAMXUATBAN] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATG] [char](7) NOT NULL,
	[TENTG] [nvarchar](40) NULL,
	[NAMSINH] [date] NULL,
	[NAMMAT] [date] NULL,
	[QUEQUAN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 3/27/2024 10:41:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS_WORD] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00001', 2, 34000, 68000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00003', 1, 45000, 45000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MASACH], [SOLUONG], [GIATIEN], [THANHTIEN]) VALUES (N'HD00001', N'SA00002', 1, 30000, 30000)
GO
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00001', N'Nghiep1320', CAST(N'2024-03-16T20:43:56.733' AS DateTime), CAST(432000.00 AS Decimal(10, 2)))
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00002', N'Trung', CAST(N'2024-03-17T10:14:51.900' AS DateTime), CAST(319000.00 AS Decimal(10, 2)))
INSERT [dbo].[HOADON] ([MAHOADON], [TENKHACHHANG], [NGAYLAP], [TONGTIEN]) VALUES (N'HD00003', N'A', CAST(N'2024-03-17T10:24:40.357' AS DateTime), CAST(220000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00001', 3)
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00002', 6)
INSERT [dbo].[KHO] ([MASACH], [SOLUONG]) VALUES (N'SA00003', 3)
GO
INSERT [dbo].[LINHVUC] ([TENLINHVUC]) VALUES (N'Công nghệ')
INSERT [dbo].[LINHVUC] ([TENLINHVUC]) VALUES (N'Hóa học')
INSERT [dbo].[LINHVUC] ([TENLINHVUC]) VALUES (N'Kĩ năng sống')
GO
INSERT [dbo].[LOAISACH] ([TENLOAISACH]) VALUES (N'Tham Khảo')
INSERT [dbo].[LOAISACH] ([TENLOAISACH]) VALUES (N'Truyện dài')
INSERT [dbo].[LOAISACH] ([TENLOAISACH]) VALUES (N'Truyện ngắn')
GO
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Chính trị quốc gia Sự thật')
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Đinh Tị Books')
INSERT [dbo].[NHAXUATBAN] ([TENNHAXUATBAN]) VALUES (N'Đông A')
GO
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00001', N'Những ngày thơ ấu', N'TG007  ', N'Văn học', N'Truyện ngắn', 34000, 34000, 1, N'Kim Đồng', CAST(N'2000-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00002', N'truyện kiều', N'TG003  ', N'Văn học', N'Truyện ngắn', 30000, 30000, 1, N'Hội Nhà Văn', CAST(N'2001-01-30T00:00:00.000' AS DateTime))
INSERT [dbo].[SACH] ([MASACH], [TENSACH], [MATG], [TENLINHVUC], [TENLOAISACH], [GIAMUA], [GIABIA], [LANTAIBAN], [TENNHAXUATBAN], [NAMXUATBAN]) VALUES (N'SA00003', N'Số đỏ', N'TG005  ', N'Văn học', N'Truyện dài', 45000, 45000, 2, N'Hội Nhà Văn', CAST(N'2009-02-11T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG002  ', N'Nguyễn Ngọc Tư', CAST(N'1976-01-01' AS Date), CAST(N'1900-01-01' AS Date), N'Cà Mau')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG003  ', N'Nguyễn Du', CAST(N'1766-01-03' AS Date), CAST(N'1820-09-16' AS Date), N'Hà Tĩnh')
INSERT [dbo].[TACGIA] ([MATG], [TENTG], [NAMSINH], [NAMMAT], [QUEQUAN]) VALUES (N'TG004  ', N'Nam Cao', CAST(N'1915-10-29' AS Date), CAST(N'1951-11-30' AS Date), N'Hà Nam')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'adm', N'adm')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'admin', N'123')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASS_WORD]) VALUES (N'kien', N'kien')
GO
USE [master]
GO
